<h2>Día: {{ dia.dia }}</h2>
<form [formGroup]="diaForm" (ngSubmit)="guardar()">
    <div class="container">
        <mat-form-field appearance="fill">
            <mat-label>Hora Apertura</mat-label>
            <mat-select [formControl]="diaForm.controls.desde">
                <mat-option *ngFor="let hora of horas" [value]="hora">{{ hora }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Hora Cierre</mat-label>
            <mat-select [formControl]="diaForm.controls.hasta">
                <mat-option *ngFor="let hora of horas" [value]="hora">{{ hora }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Guardar</button>
        <button type="button" mat-raised-button (click)="cerrar()">Cancelar</button>
    </div>
</form>
