h2, h4 {
    text-align: center;
}

h4 {
    color: gray;
}

.contenedor {
    height: 50%;
    width: 100%;
}

img {
    width: 49.5%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

p {
    width: 49.5%;
    height: 100%;
    padding-left: 1%;
    margin: 0;
    /*border: 1px solid black;*/
    float: right;
}

button {
    width: 15%;
    margin-left: 1%;
}

@media screen and (max-width: 600px) {
    .contenedor {
        height: 65%;
        width: 100%;
    }
    
    img {
        width: 100%;
        height: 49.5%;
        margin: 0;
    }
    
    p {
        width: 100%;
        height: 49.5%;
        margin: 0;
        padding-top: 1%;
    }

    button {
        width: 48%;
        margin-left: 1%;
    }
}