<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Bienvenidos a la Clínica de Salud Dental</mat-card-title>
    <mat-card-subtitle>Clínica odontológica de alta complejidad</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/bienvenidos.png" alt="Bienvenidos a la Clínica de Salud Dental">
  <mat-card-content>
    <p>
        Somos un equipo de profesionales con trayectoria familiar en odontología.
        La capacitación constante nos permite brindar, día a día, un servicio óptimo a nuestros pacientes.
    </p>
  </mat-card-content>
</mat-card> -->

<h2>Bienvenidos a la Clínica de Salud Dental</h2>
<h4>Clínica odontológica de alta complejidad</h4>
<div class="contenedor">
    <img src="../../../assets/bienvenidos.png" alt="Bienvenidos a la Clínica de Salud Dental">
    <button mat-raised-button color="primary" [routerLink]="['/login']">Ingresar</button>
    <button mat-raised-button color="accent">Quiero Registrarme</button>
    <p>
      La clínica Buena Sonrisa, especialista en salud dental,​ cuenta actualmente con siete consultorios (más otros tres que están en construcción), dos laboratorios (uno especializado en diagnóstico por imágenes, y otro en mecánica dental), y una sala de espera general. Está abierta al público de lunesa viernes en el horario de 8:00 a 19:00, y los sábados en el horario de 8:00 a 14:00.
      Somos un equipo de profesionales con trayectoria familiar en odontología. La capacitación constante nos permite brindar, día a día, un servicio óptimo a nuestros pacientes.
    </p>
</div>
