<table mat-table [dataSource]="datos" matSort matSortActive="especialista" matSortDirection="desc" matSortDisableClear class="mat-elevation-z8">
  <ng-container matColumnDef="especialista">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Especialista </th>
    <td mat-cell *matCellDef="let unHorario"> {{ getColEspecialista(unHorario.especialista) }} </td>
  </ng-container>
  <ng-container matColumnDef="especialidad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </th>
    <td mat-cell *matCellDef="let unHorario"> {{ getColEspecialidad(unHorario.especialista) }} </td>
  </ng-container>
  <ng-container matColumnDef="dia">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Día </th>
    <td mat-cell *matCellDef="let unHorario"> {{ getColDia(unHorario.dia) }} </td>
  </ng-container>
  <ng-container matColumnDef="consultorio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Consultorio </th>
    <td mat-cell *matCellDef="let unHorario"> {{ getColConsultorio(unHorario.consultorio) }} </td>
  </ng-container>
  <ng-container matColumnDef="hhDesde">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Desde </th>
    <td mat-cell *matCellDef="let unHorario"> {{ unHorario.hhDesde | numHora }} </td>
  </ng-container>
  <ng-container matColumnDef="hhHasta">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hasta </th>
    <td mat-cell *matCellDef="let unHorario"> {{ unHorario.hhHasta | numHora }} </td>
  </ng-container>
  <ng-container matColumnDef="turnosPorHora">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Turnos x Hora </th>
    <td mat-cell *matCellDef="let unHorario"> {{ unHorario.turnosPorHora }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;" (click)="editarFila(row)"></tr>
</table>

<button type="button" *ngIf="!muestraDetalle" mat-raised-button color="primary" (click)="editarFila(null)">Nuevo Horario</button>

<app-horario *ngIf="muestraDetalle"
  [horario]="fila"
  [consultorio]="getConsultorio(fila.consultorio)"
  [dia]="getDia(fila.dia)"
  [especialista]="getEspecialista(fila.especialista)"
  [consultorios]="getConsultorios()"
  [dias]="getDias()"
  [especialistas]="getEspecialistas()"
  (cerrarEvent)="cerrarDetalle()"
  (errorEvent)="mostrarError($event)"
  (guardarEvent)="guardar($event)">
</app-horario>
