<form [formGroup]="signupForm" (ngSubmit)="registrar()">
    <div class="container">
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input type="email" matInput placeholder="Ingrese su dirección de correo" [formControl]="signupForm.controls.correo">
          <mat-error *ngIf="signupForm.controls.correo.invalid">{{ mostrarError('correo') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nombre y Apellido</mat-label>
          <input type="text" matInput placeholder="Ingrese su nombre y apellido" [formControl]="signupForm.controls.nombre">
          <mat-error *ngIf="signupForm.controls.nombre.invalid">{{ mostrarError('nombre') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Clave de acceso</mat-label>
            <input matInput [formControl]="signupForm.controls.clave" [type]="getOcultaClave() ? 'password' : 'text'">
            <a mat-icon-button matSuffix (click)="setOcultaClave(!getOcultaClave())">
                <mat-icon>{{getOcultaClave() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error *ngIf="signupForm.controls.clave.invalid">{{ mostrarError('clave') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Repita la Clave</mat-label>
            <input matInput [formControl]="signupForm.controls.confirma" [type]="getOcultaConfirma() ? 'password' : 'text'">
            <a mat-icon-button matSuffix (click)="setOcultaConfirma(!getOcultaConfirma())">
                <mat-icon>{{getOcultaConfirma() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error *ngIf="signupForm.controls.confirma.invalid">{{ mostrarError('clave') }}</mat-error>
        </mat-form-field>
        <mat-error *ngIf="errConfirmaClave">La confirmación de la clave no coincide con la clave ingresada</mat-error>
        <mat-form-field appearance="fill">
            <mat-label>Teléfono de contacto</mat-label>
            <input type="text" matInput placeholder="Ingrese un teléfono de contacto" [formControl]="signupForm.controls.telefono">
        </mat-form-field>
        <mat-form-field *ngIf="esEspecialista()" appearance="fill">
            <mat-label>Especialidad</mat-label>
            <mat-select [formControl]="signupForm.controls.especialidad">
                <mat-option *ngFor="let esp of enumEsp" [value]="esp">{{ esp }}</mat-option>
            </mat-select>
            <mat-error *ngIf="signupForm.controls.especialidad.invalid">{{ mostrarError('especialidad') }}</mat-error>
        </mat-form-field>
        <div class="fldArchivo">
            <mat-label>Foto de perfil</mat-label>
            <br>
            <input type="file" (change)="manejoFoto($event.target.files)" [formControl]="signupForm.controls.foto">
        </div>
        <re-captcha *ngIf="muestraCaptcha" (resolved)="setRecaptcha($event)"></re-captcha>
        <button [disabled]="!getCaptcha()" mat-raised-button color="primary" class="btnSignup">Registrarme</button>
        <button mat-raised-button class="btnClean" (click)="limpiarForm()">Limpiar</button>
    </div>
</form>
