<!-- <input type="button" value="Salir" (click)="salir()" *ngIf="estaLogueado()">
<ngx-auth-firebaseui-login
    [providers]="[]"
    [registrationEnabled]="false"
    [registrationEnabled]="false"
    [resetPasswordEnabled]="false"
    [titleText]="'Por favor ingrese su correo y clave de acceso'"
    [loginButtonText]="'Ingresar'"
    [emailText]="'Correo electrónico'"
    [emailErrorRequiredText]="'Por favor informe su dirección de correo electrónico'"
    [emailErrorPatternText]="'Por favor informe una dirección válida de correo electrónico'"
    [passwordText]="'Clave de acceso'"
    [passwordErrorRequiredText]="'Por favor ingrese su clave de acceso'"
    (onError)="mostrarError($event)">
</ngx-auth-firebaseui-login> -->
<form [formGroup]="loginForm" (ngSubmit)="ingresar()">
    <div class="container">
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="Ingrese su dirección de correo" [formControl]="loginForm.controls.correo">
          <mat-error *ngIf="loginForm.controls.correo.invalid">{{ mostrarError('correo') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Clave de acceso</mat-label>
            <input matInput [formControl]="loginForm.controls.clave" [type]="ocultaClave ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="ocultaClave = !ocultaClave" [attr.aria-label]="'Ocultar clave'" [attr.aria-pressed]="ocultaClave">
                <mat-icon>{{ocultaClave ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.controls.clave.invalid">{{ mostrarError('clave') }}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="btnLogin">Ingresar</button>
    </div>
</form>
