<form [formGroup]="loginForm" (ngSubmit)="ingresar()">
    <div class="container">
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="Ingrese su dirección de correo" [formControl]="loginForm.controls.correo">
          <mat-error *ngIf="loginForm.controls.correo.invalid">{{ mostrarError('correo') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Clave de acceso</mat-label>
            <input matInput [formControl]="loginForm.controls.clave" [type]="getOcultaClave() ? 'password' : 'text'">
            <a mat-icon-button matSuffix (click)="setOcultaClave(!getOcultaClave())">
                <mat-icon>{{getOcultaClave() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error *ngIf="loginForm.controls.clave.invalid">{{ mostrarError('clave') }}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="btnLogin">Ingresar</button>
    </div>
</form>
<button mat-raised-button color="accent" (click)="cargarUsuario('admin')">ADMIN</button>
<button mat-raised-button color="accent" (click)="cargarUsuario('recep')">Recepcionista 1</button>
<button mat-raised-button color="accent" (click)="cargarUsuario('recep2')">Recepcionista 2</button>
<button mat-raised-button color="accent" (click)="cargarUsuario('pepe')">Cliente 1</button>
<button mat-raised-button color="accent" (click)="cargarUsuario('ruben')">Cliente 2</button>
<button mat-raised-button color="accent" (click)="cargarUsuario('esp1')">Especialista 1</button>
<button mat-raised-button color="accent" (click)="cargarUsuario('esp2')">Especialista 2</button>
<button mat-raised-button color="accent" (click)="cargarUsuario('esp3')">Especialista 3</button>
<button mat-raised-button color="accent" (click)="cargarUsuario('esp4')">Especialista 4</button>
