.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.celu {
    display: none;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lblUsuario {
  font-weight: bold;
  background-color: wheat;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
    .pc {
        display: none;
    }

    .celu {
        display: inline;
    }
}
