<mat-toolbar color="primary">
    <!-- <img src="../../../assets/banner.png" alt="Buena Sonrisa - TP Obligatorio"> -->
    <button mat-icon-button aria-label="Ir atras" *ngIf="puedeIrAtras()" (click)="irAtras()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Buena Sonrisa

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <div class="pc">
        <button mat-stroked-button *ngIf="!usuarioLogueado()" [routerLink]="['/login']">Ingresar</button>
        <button mat-stroked-button *ngIf="!usuarioLogueado()" [routerLink]="['/registro/'.concat(getTipoCliente().toString())]">Registrarse</button>
    </div>

    <div class="celu">
        <button mat-icon-button *ngIf="!usuarioLogueado()" [matMenuTriggerFor]="menuInicio" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menuInicio="matMenu">
            <button mat-menu-item [routerLink]="['/login']">
                <span>Ingresar</span>
            </button>

            <mat-divider *ngIf="!usuarioLogueado()"></mat-divider>

            <button mat-menu-item [routerLink]="['/registro/'.concat(getTipoCliente().toString())]">
                <span>Registrarse</span>
            </button>
        </mat-menu>

        <mat-menu #menuUsuario="matMenu">
            <mat-label class="lblUsuario" mat-menu-item>{{ getNombre() }}</mat-label>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="salir()">
                <span>Salir</span>
            </button>
        </mat-menu>
    </div>

    <!-- <button mat-fab color="primary" *ngIf="usuarioLogueado()"> -->
        <img [matMenuTriggerFor]="menuUsuario" *ngIf="usuarioLogueado() && getImagen()" [src]="getImagen()" alt="Avatar" class="avatar">
    <!-- </button> -->
</mat-toolbar>